<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('sparks')" data-ng-class="{active: currency.symbol == 'sparks'}">sparks</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('msparks')" data-ng-class="{active: currency.symbol == 'msparks'}">msparks</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('usparks')" data-ng-class="{active: currency.symbol == 'usparks'}">usparks</a>
  </li>
</ul>

